Flask==3.1.2
Flask-Bcrypt==1.0.1
Werkzeug==3.1.5
Jinja2==3.1.6
python-dotenv==1.2.2

mysql-connector-python==9.6.0

google-genai==2.12.1

requests==2.34.2

numpy==2.2.6
Pillow==12.1.1

tensorflow==2.20.0
keras==3.12.1
h5py==3.15.1

opencv-python==4.13.0.92
opencv-contrib-python==4.13.0.92

mediapipe==0.10.32

ultralytics==8.4.14

torch==2.10.0
torchvision==0.25.0

matplotlib==3.10.8

scikit-learn==1.7.2

protobuf==5.29.6

gunicorn==23.0.0